.curseclient
.vscode
backups/*
config/towns_and_towers/
crash-reports/*
ct_dumps/*
journeymap/*
kubejs/config/probejs.json
kubejs/jsconfig.json
kubejs/probe/*
kubejs/README.txt
lightspeed-cache/*
local/*
logs/*
modernfix/*
mods/*
resourcepacks/*
saves/*
screenshots/*
shaderpacks/*
tconplanner/*
minecraftinstance.json
patchouli_data.json
reauth.toml
rhino.local.properties
TrashSlotSaveState.json
usercache.json
usernamecache.json