.curseclient
mods/*
saves/*
kubejs/README.txt
resourcepacks/*
shaderpacks/*
modernfix/*
lightspeed-cache/*
journeymap/*
logs/*
patchouli_data.json
reauth.toml
rhino.local.properties
screenshots/*
usercache.json
usernamecache.json
TrashSlotSaveState.json
tconplanner/*
local/*
backups/*
ct_dumps/*
minecraftinstance.json
config/towns_and_towers/
crash-reports
screenshots
/.vscode
minecraftinstance.json
/kubejs/probe
